---
---

@import "{{ site.theme }}";

$primary-color: #DE5D43;
$secondary-color: #000;

.site-top {
  text-align: center;
}

a {
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
}

header {
  background: url(../images/header-bg-3.png) 0 0 no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center top;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  padding-top: 16%;
  padding-bottom: 12%;

  h1 {
    background: rgba(0, 0, 0, 0.2);
    padding: 2%;
  }

  h2 {
    background: rgba(0, 0, 0, 0.2);
    color: $primary-color;
    padding: 2%;
  }
}

body.post {
  h1, h2 {
    width: auto;
  }

}

h2 time {
  font-size: 0.7em;
}

li a time {
  color: $secondary-color;
  font-size: 0.8em;
}

#main-content h2 {
  padding-bottom: 2%;
}

#main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before {
  color: $primary-color;
}

pre code {
  color: $primary-color;
}

ul.post-list {
  list-style-type: none;
}

ul.sidebar-menu {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    font-size: 1.2em;
    margin: 10px 0;
  }
}
